
*.class
Enumeradores/.classpath
Enumeradores/.project
*.prefs
Enumeradores/src/module-info.java
.metadata/.lock
.metadata/version.ini
/.metadata/
DesafioEnum/.classpath
DesafioEnum/.project
DesafioEnum/src/module-info.java
Wrappers/.classpath
Wrappers/.project
Wrappers/src/module-info.java
