
*.class
Enumeradores/.classpath
Enumeradores/.project
*.prefs
Enumeradores/src/module-info.java
.metadata/.lock
.metadata/version.ini
/.metadata/
DesafioEnum/.classpath
DesafioEnum/.project
DesafioEnum/src/module-info.java
Wrappers/.classpath
Wrappers/.project
Wrappers/src/module-info.java
Autoboxing/.classpath
Autoboxing/.project
Autoboxing/src/module-info.java
EscopoVariaveis/.project
EscopoVariaveis/.classpath
EscopoVariaveis/src/module-info.java
StaticImport/.classpath
StaticImport/.project
StaticImport/src/module-info.java
Parametros/.classpath
Parametros/.project
Parametros/src/module-info.java
Vargrs/.classpath
Vargrs/.project
Vargrs/src/module-info.java
Printf/.classpath
Printf/.project
Printf/src/module-info.java
ClassesAninhadas/.classpath
ClassesAninhadas/.project
ClassesAninhadas/src/module-info.java
Anotacao/.classpath
Anotacao/.project
Anotacao/src/module-info.java
ColetorLixo/.classpath
ColetorLixo/.project
ColetorLixo/src/module-info.java
Threads/.classpath
Threads/.project
Threads/src/module-info.java
ModuloStrings/.classpath
ModuloStrings/src/module-info.java
ModuloStrings/.project
ExercicioString/.classpath
ExercicioString/.project
ExercicioString/src/module-info.java
ExercicioVerificadorLogin/.classpath
ExercicioVerificadorLogin/.project
ExercicioVerificadorLogin/src/module-info.java
ClassesUtilitarias/.classpath
ClassesUtilitarias/.project
ClassesUtilitarias/src/module-info.java
